@tailwind base;
@tailwind components;
@tailwind utilities;

/* Toggle shiki based on theme */
.light .shiki.github-dark {
  display: none;
}

.dark .shiki.github-light {
  display: none;
}

pre.twoslash {
	border: 0;
}